<p>Hello <%= @resource.email %>!</p>

<p>Someone has requested a link to change your challenge questions, and you can do this through the link below.</p>

<p><%= link_to 'Change my challenge questions', edit_challenge_question_url(@resource, :reset_challenge_questions_token => @resource.reset_challenge_questions_token) %></p>

<p>If you didn't request this, please ignore this email.</p>
<p>Your challenge questions won't change until you access the link above and create a new ones.</p>