<h3>Please contact your system administrator.</h3>

<fieldset>
  <p>
    Access denied as you have reached your max challenge question attempts.
  </p>
  <p>
    <%= link_to "Reset your challenge questions?", new_challenge_question_path(resource_name) %>
  </p>
</fieldset>

